<header>
  <div class="logo"> 
    <a href="/"><img class="logo" src="../images/logo-no-bg.jpg" alt="Travel Experts Logo"></a>
  </div>
  <nav>
    <% if(!currentUser) { %>
      <p class="welcome"> Welcome Traveler!</p>
    <%} else {%> 
      <p class="welcome"> Welcome Back! <%= currentUser.username %> </p>
    <%  }%> 
    <div>
      <button class="btn-menu">
        <img class="img-menu" src="../images/menu.svg" alt="hamburger menu">
      </button>
      <ul> 
        <li><a href="/#index-packages">Trips</a></li>
        <li><a href="/contact">Contact</a></li>
        <% if(!currentUser) { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <%} else {%> 
          <li><a href="/logout">LogOut</a></li>
        <%  }%> 
      </ul>
    </div>  
  </nav>
</header>