<header>
  <div class="logo"> 
    <a href="/"><img class="logo" src="../images/logo-no-bg.jpg" alt="Travel Experts Logo"></a>
  </div>
  <nav>
    <button class="btn-menu">
      <img class="img-menu" src="../images/menu.svg" alt="hamburger menu">	
    </button>
    <div class="navbar">
      <ul>
        <li><a href="/#packages">Trips</a></li>
        <li><a href="/contact">Support</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </div>
  </nav>
</header>