<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <%- include('./partials/css-global'); %>
  <link rel="stylesheet" href="../css/404.css">
</head>
<body>
  <div class="wrapper">
  <div class="lable">
  <!-- <div class="label"> -->
    <%- include('./partials/header'); %>
    <main>
      <div>
<form>
      <ul>
       <li> 
        <p1>...404... page not found</p1>
      </li> 
<li>
        <!-- <button type="submit">Go to home page</button> -->
        <!-- <a id="../views/index.ejs" href="../views/index.ejs"></a> -->
        <a class="button404" id="home page" href="/">Go to home page</a>
    
</li>
        </ul>
      </form>
  </div>
  </div>
</main>
  <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" -->
    <%- include('./partials/footer'); %>
  </div>
  <%- include('./partials/js-menu-toggle'); %>
</body>
</html>

