<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <%- include('./partials/css-global'); %>
  <link rel="stylesheet" href="../css/404.css">
</head>
<body>
  <div class="wrapper">
  <!-- <div class="label"> -->
    <%- include('./partials/header'); %>
      <main>
  
      
        <p>...404... page not found</p>
    
        <a class="button404" id="home page" href="/">Go to home page</a>
      </main>
  <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" -->
    <%- include('./partials/footer'); %>
  </div>
  <%- include('./partials/js-menu-toggle'); %>
</body>
</html>

