<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <%- include('./partials/css-global'); %>
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>
  <div class="wrapper">
  <div class="label">
    <%- include('./partials/header'); %>
    <main>
      <div>
    <form>
    <legend>404</legend>
      <ul>
       <li> 
        <label>404</label>
        <input type="text">"page not found" 
      </li> 
      
        <button type="submit">Go to home page</button>
        <a id="Go to home page" href="index">Go to home page
        </ul>
    </form>
  </div>
  </div>
</main>
  <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" -->
    <%- include('./partials/footer'); %>
  </div>
  <%- include('./partials/js-menu-toggle'); %>
</body>
</html>

