<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Experts Home</title>
  <%- include('./partials/css-global'); %>
</head>

<body>
  <div class="wrapper">
    <%- include('./partials/header'); %>

    <!-- HERO Section  -->
    <div class="hero">
      <h2>Exceptional Travels from the Travel Experts</h2>
      <p>Ideas for your next trip? Sign-up now!</p>
      <a href="/register" class="hero-btn">Sign-Up</a>
    </div>

    <!-- Vacation Packages -->
    <main>
      <h2 id="index-packages">Vacation Packages - Find your next destination!</h2>
      <div class="vacationPackages" id="packages">
        <!-- The gallery will go here. See packages.js to see how this happens -->
      </div>
    </main>
    <%- include('./partials/footer'); %>
  </div>

  <%- include('./partials/js-menu-toggle'); %>

  <!-- javascript link -->
  <script src="/js/index-images.js"></script>
</body>

</html>