<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
  <%- include('./partials/css-global'); %>
  <link rel="stylesheet" href="../css/login.css">
</head>
  	<!-- Header & Navbar-->
    <%- include('./partials/header'); %>
<body>
  <div class="wrapper">
  
    <form action="/login" class="form-area" method ="POST">
      <div class="msg-area">
        <!-- <label for="msg">Message</label> -->
        <!-- <textarea id="msg"></textarea> -->
      </div>
      <div class="details-area">
        
        <lable for="username">Username</lable>
        <input type="text" name="username" id="username"  placeholder="username" required minlength="6">
        <lable for="password">Password</lable>
        <input type="password" name="password" id="password" placeholder="Enter password" >
        
        <button type="submit">Submit</button>
      </div>
      
    </form>
    <p>Dont have login information? <a href="/register">Sign up here</a></p>
  </div>
  <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" -->
    <%- include('./partials/footer'); %>

  <%- include('./partials/js-menu-toggle'); %>
</body>
</html>

