
<nav>
  
  <li><a href="/login">SIGN IN </a></li>
  <li><a href="/logout">LOG OUT</a></li>
</nav>
<h1>ORDER PAGE</h1>


 <div> 
          
   

  <h1>Bookings</h1>

  <form  action="/order" method="post">
    <input type="text" placeholder ="bookingId" name ="bookingId">
    <input type ="text" placeholder = "bookingDate" name = "bookingDate">
    <input type ="text" placeholder = "bookingNo" name = "bookingNo">
    <input type ="text" placeholder = "travelCount" name = "travelCount">
    <input type ="text" placeholder = "customerId" name = "customerId">
    <input type ="text" placeholder = "tripTypeId" name = "tripTypeId">
    <input type ="text" placeholder = "packageId" name = "packageId">

    <input type ="text" placeholder = "image url" name = "image">
    <button>Submit!</button>
          
  </form>

</div>