<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
  <%- include('./partials/css-global'); %>
  <link rel="stylesheet" href="../css/registration.css">
  
</head>
<body>
  <div class="wrapper">
    <%- include('./partials/header'); %>

    <main>
  <div>
    <form action="/register" method ="post">
      <div class="details-area">

        <fieldset>
          <legend>Fill this form to register</legend>
        <ul>
      
        <li>
          <label>First Name</lable>
          <input type ="text" placeholder = "firstName" name = "firstName">
      </li>
        <li>
        <label>Last Name</lable>
        <input type ="text" placeholder = "last name" name = "lastName">
      </li>
        <li>
        <label>Address</lable>
        <input type ="text" placeholder = "address" name = "address">
      </li>
        <li>
          <label>City</lable>
          <input type ="text" placeholder = "city" name = "city">
      </li>
        <li><labe>Province</lable>
        <input type ="text" placeholder = "prov" name = "prov" id ="prov">
      </li>
        <li><label>Postal Code</lable>
        <input type ="text" placeholder = "postal" name = "postal">
      </li>
        <li>
          <label>Country</lable>
          <input type ="text" placeholder = "country" name = "country">
      </li>
        <li>
          <label>Home Phone Number</lable>
          <input type ="text" placeholder = "homePhone" name = "homePhone">
      </li>
        <li>
          <label>Busines Phone Number</lable>
          <input type ="text" placeholder = "busPhone" name = "busPhone">
      </li>
        <li>
          <label>Username</lable>
          <input type ="text" placeholder = "username" name = "username">
      </li>
        <li>
          <label>Email Address</lable>
          <input type="email" placeholder = "email" name="email" required >
      </li>
        <li>
          <label>Password</lable>
          <input type="password" name="password" id="password" placeholder="Enter password" >
      </li>
      <li>
        <button type="submit">Submit</button>
      </li>
      </ul>
    </fieldset>
    </form>
</div>
 </main>
  <%- include('./partials/footer'); %>
</div> 

  <%- include('./partials/js-menu-toggle'); %>
</body> 
</html>


