<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
  <%- include('./partials/css-global'); %>
  <link rel="stylesheet" href="../css/registration.css">
  
</head>
  	<!-- Header & Navbar-->
		<%- include('./partials/header'); %>
<body>
  <div class="wrapper">
  
    <form action="" class="form-area">
      <div class="msg-area">
        <!-- <label for="msg">Message</label> -->
        <!-- <textarea id="msg"></textarea> -->
      </div>
      <div class="details-area">
        <lable for="name">First Name</lable>
        <input type="text" name="" id="name">
        <lable for="name">Last Name</lable>
        <input type="text" name="" id="name">
        <lable for="name">Address</lable>
        <input type="text" name="" id="name">
        <lable for="name">City</lable>
        <input type="text" name="" id="name">
        <lable for="name">Province</lable>
        <input type="text" name="" id="name">
        <lable for="name">Postal Code</lable>
        <input type="text" name="" id="name">
        <lable for="name">Country</lable>
        <input type="text" name="" id="name">
        <lable for="name">Home Phone Number</lable>
        <input type="text" name="" id="name">
        <lable for="name">Busines Phone Number</lable>
        <input type="text" name="" id="name">
        <lable for="name">Email Address</lable>
        <input type="text" name="" id="name"pattern=".+@company\.com" required >
        <lable for="name">Password</lable>
        <input type="text" name="" id="name">
        <lable for="name">Re-enter Password</lable>
        <input type="text" name="" id="name"><br><br>
  <button type="submit">Submit</button>
  </div>
</form>

      </div>
    </form>
    <%- include('./partials/footer'); %>
  </div>

  <%- include('./partials/js-menu-toggle'); %>
</body> 
</html>


