<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test-Backend</title>
  <style>
    .center-items {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .full-vh {
      min-height: 100vh;
    }

    .img-container img{
      width: 200px;
    }
  </style>

</head>

<body>
  <div class="full-vh center-items img-container">
    
  </div>
  <!-- javascript link -->
<script src="/js/test.js"></script>
</body>



</html>