body{
  background-image: url("../images/HERO-christopher-czermak-AeiXAB8n8Mc-unsplash.jpg");
  background-size: cover;
  background-position: center center;
}

main {
  display: flex;
  flex-direction: column;
}

main h2 {
  margin: 0;
  font-size: 2.5rem;
  font-variant: small-caps;
  color: white;
  text-shadow: -1px 1px 0 #000,
				        1px 1px 0 #000,
				        1px -1px 0 #000,
               -1px -1px 0 #000;
}

/* form1 */
.form1 {
  background-color: aliceblue;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  border-radius: 15px;
  opacity: 0.85;
  width: 80%
}

.form1 ul {
  display: flex;
  flex-direction: column;
}

.form1 ul li {
  display: flex;
  justify-content: space-between;
}

.form1 label {
  /* width: 20ch; */
}

.form1 input {
  width: 60%;
  background-color: azure;
}

.form1 textarea {
  width: 70%;
  background-color: azure;
}

.form1 button {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: white;
  background-color: royalblue;
  border: none;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;

  align-self: center;
}

/* form2 */
.form2 {
  background-color: aliceblue;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  border-radius: 15px;
  opacity: 0.85;
  max-width: 120ch
}

.form2 h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
} 

.form2 p {
  margin: 0;
} 
  
.form2 div {
  display: flex;
  justify-content: space-between;
}


/* Responsive Form for phone screen size */
@media screen and (max-width: 600px) {
  .form1 ul li {
    display: flex;
    flex-direction: column;
  }
  
  .form2 div {
    display: flex;
    flex-direction: column;
  }

  .form2-label {
    /* color: blue; */
    font-weight: bold;
  }
}






/* .details-area{
  flex: 1;
  order: 2;
  margin-right: 2em;
}

.details-area input{
  width: 100%;
  background: transparent;
  color: black;
  border-radius: 40px;
  font-size: 20px;
}

.details-area button{
  padding: 1em;
  margin-bottom: 1em;
}

.details-area button{
  background: rgb(166, 241, 16);
  color:red;
  border: 0;
  padding: 15px 50px;
  border-radius: 40px;
  font-size: 15px;
  text-transform: uppercase;
}


.msg-area{
  display: flex;
  flex-direction: column;
  order: 2;
}

.msg-area > textarea{
  flex: 1;
  min-width: 18em;
  background: transparent;
  color: black;
  padding: 15px;
}

label{
  color:red;
  text-transform: uppercase;
  line-height: 40px;
  font-family: Audiowide;
}  */