/******************/
/* Header */
/******************/

/* header mainly contains logo and navbar */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
    
  background-color: aliceblue;
}

/********/
/* Logo */
/********/

.logo {
  width: 200px;
  padding: 0.5em 0.5em;
}

/**********/
/* Navbar */
/**********/

/* Hamburger menu */
.btn-menu {
  padding: 0 1rem;
  border-width: 0;
  background-color: aliceblue;
}

.hamburger-menu {
  height: 20px;
}

nav {
  display: flex;
  flex-direction: column;  
}

/* Navbar links */

nav ul {
  display: flex;
}

nav a{
  color: midnightblue;
  padding: 0.5em 1em;
}

nav ul li {
  font-weight: 500;
}

/* nav {
  display: flex;
  align-items: center;
  margin: 0;
} */

/* Apply these styles when the screen is in 'landscape' orientation */
@media (orientation: landscape) {
   
  /* Don't show hamburger menu on desktop */
   nav .btn-menu {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    margin: 0;
  }

}

/* By default, hide menu on mobile (desktop is handled in the media query above) */
/* nav div ul {
  display: none;
} */

/* nav div ul {
  display: flex;
} */

.visible {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}



/* Navbar mouse hover, active, and current page effects */
nav a:hover {
  color: blue;
}
    
nav a:active {
  text-shadow: 2px 2px 8px grey;
}
  
/* .current-page {
  background-image: linear-gradient(cornflowerblue, cadetblue);
} */