/****************/
/* HERO Section */
/****************/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aliceblue;
  background-image: url("../images/HERO-christopher-czermak-AeiXAB8n8Mc-unsplash.jpg");
  background-size: cover;
  background-position: center;
    
  min-height:60vh;
}

.hero h2 {
  font-size: 2.5rem;
  /* font-size: vh; */
  font-variant: small-caps;
  color: azure;
  text-shadow: -1px 1px 0 #000,
				        1px 1px 0 #000,
				        1px -1px 0 #000,
               -1px -1px 0 #000;
               
  margin: 0;
  padding: 0.5rem 4rem 0.5rem 0.5rem;
}

.hero p {
  font-size: 2rem;
  color: azure;
  text-shadow: -1px 1px 0 #000,
				        1px 1px 0 #000,
				        1px -1px 0 #000,
               -1px -1px 0 #000;

  margin: 0;
  padding: 0.5rem 4rem 0.5rem 0.5rem;
}

.hero-btn {
  padding: 5px 20px;
  border-radius: 15px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  color: white;
  background-color: royalblue;
  border: none;
  margin-top: 0.5rem;
}

.hero-btn:hover {
  background-color: dodgerblue;
} 

/****************************/
/* Main - Vacation Packages */
/****************************/

/* also reference index-images.js for innerHTML */

.index-main {
  max-width: 1200px;
  margin: 0 auto;
}

.index-main h2 {
  margin-left: 0.5rem;
}

.vacationPackages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.vacationPackages figure {
  margin: 0;
  width: 300px;
}

.vacationPackages img {
  width: 95%;
  height: 230px;
  margin: 10px;
  border-radius: 15px;
}

.vacationPackages figcaption {
  color: black;
  text-align: center;
}

/* Responsive sizingfor phone screen size */
@media screen and (max-width: 600px) {
  .hero h2 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 1.5rem;
  }

  main h2 {
    font-size: 1.5rem;
  }
}