/****************/
/* HERO Section */
/****************/
.hero {
  /* to fix h2 and p in this section to the upper-right of this section */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aliceblue;
  background-image: url("../images/HERO-christopher-czermak-AeiXAB8n8Mc-unsplash.jpg");
  background-size: cover;
  background-position: center;
    
  min-height:60vh;
}

.hero h2 {
  font-size: 2.5rem;
  font-variant: small-caps;
  color: white;
  text-shadow: -1px 1px 0 #000,
				        1px 1px 0 #000,
				        1px -1px 0 #000,
               -1px -1px 0 #000;
               
  margin: 0;
  padding: 0.5rem 4rem 0.5rem 0.5rem;
}

.hero p {
  font-size: 2rem;
  color: azure;
  text-shadow: -1px 1px 0 #000,
				        1px 1px 0 #000,
				        1px -1px 0 #000,
               -1px -1px 0 #000;

  margin: 0;
  padding: 0.5rem 4rem 0.5rem 0.5rem;
}

.hero button {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: royalblue;
  border: none;
  margin-top: 0.5rem;
  margin-right: 4rem;
}

.hero button:hover {
  background-color: dodgerblue;
} 

/****************************/
/* Main - Vacation Packages */
/****************************/

main {
  max-width: 1200px;
  margin: 0 auto;
}

main h2 {
  margin-left: 0.5rem;
}

.vacationPackages {
  display: flex;
  flex-wrap: wrap;
}

.vacationPackages figure {
  /* background-color: lightskyblue; */
  margin: 0;
}

.vacationPackages img {
  width: 280px;
  margin: 0 10px;
  border-radius: 15px;
}

.vacationPackages figcaption {
  color: black;
  text-align: center;
  /* background-color: dodgerblue; */
}