body{
  background-image: url("../images/HERO-christopher-czermak-AeiXAB8n8Mc-unsplash.jpg");
  background-size: cover;
  background-position: center center;
}

main h1 {
  font-size: 2.5rem;
  font-variant: small-caps;
  color: white;
  text-align: center;
  text-shadow: -1px 1px 0 #000,
				        1px 1px 0 #000,
				        1px -1px 0 #000,
               -1px -1px 0 #000;
}
main h4 {
  font-size: 1.5rem;
  font-variant: small-caps;
  color: #cd853f;
  text-align: center;
  text-shadow: -1px 1px 0 #000,
				        1px 1px 0 #000,
				        1px -1px 0 #000,
               -1px -1px 0 #000;
}

main form {
  background-color: aliceblue;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  opacity: 0.85;
  max-width: 400px;
  width: 80%;
  margin: 0 auto;
}

.legend {
  color:#cd853f;
  font-size: 1.2rem;
}

main form fieldset{
  /* width: 100%; */
}

main form ul { 
  display: flex;
  flex-direction: column;
}

main form ul li { 
  display: flex;
  justify-content: space-between;
}

main form ul li label{ 
  width: 60%;
}

main form ul li input { 
  width: 90%;
  background-color: azure;
}

main form ul button{ 
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: white;
  background-color: royalblue;
  border: none;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;

  align-self: center;
}

main form ul button:hover {
  background-color: dodgerblue;
} 

/* Responsive Form for phone screen size */
@media screen and (max-width: 600px) {
  main form ul li { 
    flex-direction: column;
    align-items: center;
  }
  
  main form ul li label{ 
    width: 90%;
  }
}