/* stying backend generated package start/end dates showing red when expired */
.date {
  color:red;
  font-size: 900;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70%;
  margin: 1rem auto;
  background-color: aliceblue;
  padding: 2rem;
  border-radius: 15px;
}

figure h2 {
  text-align: center;
  margin: 0;
}

figure img {
  width: 100%;
}

/* list backend generated data in neat fashion */
figure div {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

figure div p {
  margin: 0;
}

/* Book Now button links order page */
figure a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: royalblue;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  display: inline-block;
  margin-top: 20px;
  align-self: center;
}

figure a:hover {
  background-color: dodgerblue;
}  