.date {
  color:red;
  font-size: bold;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70%;
  margin: 1rem auto;
  background-color: aliceblue;
  padding: 2rem;
  border-radius: 15px;
}

figure h2 {
  text-align: center;
  margin: 0;
  /* background-color: cadetblue; */
}

figure img {
  width: 100%;
  /* padding: 10px; */
}

figure div {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

figure div p {
  /* width:  */
  margin: 0;
  /* text-align: left; */
}

figure a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: royalblue;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  display: inline-block;
  margin-top: 20px;
  align-self: center;
}

figure a:hover {
  background-color: dodgerblue;
}  