/* Resets */
/* https://necolas.github.io/normalize.css useful info on resets */

/* '*' applies to all */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* removes defualt bullet-points in lists */
ul {
  list-style-type: none;
  padding-left: 0;
}
/* removes defualt underline in <a> links */
a {
  text-decoration: none;
}
